@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

:root{
    --poppins:'Poppins', sans-serif;
    --blue:#1da1f2;
    --prompt: 'Prompt', sans-serif;
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,button{
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
body{
    background-color: #000000;
    height: 100%;
}

.news{
    width: 100%;
    /*height: 150px;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--poppins);
}
.news .news__body{
    padding-top: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news .news__body .content{
    display: flex;
    align-items: center;
    max-width: 500px;
    /*height: 500px;*/
    border: 1px solid #4c4c4c;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}
.news__left__top{
    width: 100%;
    flex: .3;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #fff;
}
.news__left__top .news__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    display: flex;
    align-items: center;

}
.link{
    position: absolute;
    left: 0;
    bottom: 5%;
    padding: 5px;
    background-color: #09EAE1;
    border-radius: 5px;
}
.bookmark{
    position: absolute;
    right: 0;
    bottom: 5%;
    padding: 5px;
    color: #09EAE1;
}
.bookmark button{
    outline: none;
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
}
.bookmark button i{
    /*color: #09EAE1;*/
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.link a{
    color: black;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: none;
}
.news__right__bottom{
    width: 100%;
    padding: 5px;
    flex: .3;
}
.news__right__bottom p{
    padding: 5px 0px;
    font-size: 12px;
    line-height: 24px;
    color: #09EAE1;
}